In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt  

from adjustText import adjust_text
from matplotlib.ticker import PercentFormatter, FuncFormatter

df_original = pd.read_csv(r'C:\Users\Dell\DA_FILE\100_My_Project\7_UK_Housing\Manchester_Rent.csv')

sns.set_style('ticks')

# Drop unnecessary columns
df = df_original.drop('location',axis=1)
df =df.drop('property_id',axis=1)

In [10]:
df

,price,property_type,postal_code,available,till_move_in_day,minimum_term,maximum_term,furnishings,occupation,gender,min_age,max_age
0,1039.20,Flat share,M15,16/04/2023,0,5,0,Furnished,Student,No preference,NaN,NaN
1,699.00,House share,M20,16/04/2023,0,0,0,Furnished,Don't mind,Female,18.0,NaN
2,650.00,House share,M43,16/04/2023,0,6,0,Furnished,Professional,No preference,18.0,35.0
3,600.00,Flat share,M21,16/04/2023,0,6,0,Furnished,Don't mind,No preference,NaN,NaN
4,480.00,House rent,M20,16/04/2023,0,6,0,Furnished,Don't mind,No preference,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1000,671.15,Flat share,M14,16/04/2023,0,0,5,Furnished,Student,No preference,NaN,NaN
1001,649.50,Flat share,M12,16/04/2023,0,3,3,Furnished,Professional,No preference,25.0,55.0
1002,1082.50,Flat share,M7,16/04/2023,0,0,0,Furnished,Don't mind,No preference,18.0,99.0
1003,584.55,Flat share,M3,16/04/2023,0,8,8,Unfurnished,Don't mind,Female,NaN,25.0
1004,649.50,House share,M14,16/04/2023,0,10,12,Furnished,Don't mind,No preference,20.0,40.0

In [22]:
df_postal =df.pivot_table(columns='occupation', index='postal_code',aggfunc='size', values='price').fillna(0)
df_postal['sum']= df_postal.sum(axis=1)

df_postal

occupation   Don't mind  Professional  Student    sum
postal_code
M1                 32.0          12.0     13.0   57.0
M11                 7.0           7.0      0.0   14.0
M12                 7.0           1.0      0.0    8.0
M13                28.0           8.0      7.0   43.0
M14                77.0          13.0     30.0  120.0
M15                47.0          13.0     14.0   74.0
M16                21.0          16.0      5.0   42.0
M17                 1.0           0.0      0.0    1.0
M18                 6.0           3.0      0.0    9.0
M19                25.0           8.0      1.0   34.0
M20                34.0          25.0      3.0   62.0
M21                11.0          20.0      0.0   31.0
M22                 9.0           6.0      0.0   15.0
M23                 1.0           6.0      0.0    7.0
M24                 6.0           4.0      0.0   10.0
M25                 5.0           5.0      0.0   10.0
M26                 6.0           1.0      0.0    7.0
M27                11.0           8.0      0.0   19.0
M28                 7.0           9.0      0.0   16.0
M29                 2.0           1.0      0.0    3.0
M3                 23.0          26.0      2.0   51.0
M30                17.0          13.0      0.0   30.0
M31                 0.0           1.0      0.0    1.0
M32                 8.0          10.0      1.0   19.0
M33                 5.0           4.0      0.0    9.0
M34                 3.0           4.0      0.0    7.0
M35                 7.0           2.0      0.0    9.0
M38                 2.0           0.0      0.0    2.0
M4                 27.0          33.0      1.0   61.0
M40                13.0           2.0      0.0   15.0
M41                 3.0           1.0      0.0    4.0
M43                 2.0           5.0      0.0    7.0
M44                 0.0           1.0      0.0    1.0
M45                 5.0           2.0      0.0    7.0
M46                 0.0           1.0      0.0    1.0
M5                 42.0          30.0      0.0   72.0
M50                 8.0           5.0      5.0   18.0
M6                 28.0          18.0      7.0   53.0
M60                 0.0           0.0      3.0    3.0
M7                 13.0           9.0      1.0   23.0
M8                 11.0           8.0      0.0   19.0
M9                  7.0           4.0      0.0   11.0

In [25]:
df_postal =df_postal.sort_values(by='sum',ascending=False)
df_postal= df_postal[df_postal['sum']>=15]
df_postal

occupation   Don't mind  Professional  Student    sum
postal_code
M14                77.0          13.0     30.0  120.0
M15                47.0          13.0     14.0   74.0
M5                 42.0          30.0      0.0   72.0
M20                34.0          25.0      3.0   62.0
M4                 27.0          33.0      1.0   61.0
M1                 32.0          12.0     13.0   57.0
M6                 28.0          18.0      7.0   53.0
M3                 23.0          26.0      2.0   51.0
M13                28.0           8.0      7.0   43.0
M16                21.0          16.0      5.0   42.0
M19                25.0           8.0      1.0   34.0
M21                11.0          20.0      0.0   31.0
M30                17.0          13.0      0.0   30.0
M7                 13.0           9.0      1.0   23.0
M27                11.0           8.0      0.0   19.0
M32                 8.0          10.0      1.0   19.0
M8                 11.0           8.0      0.0   19.0
M50                 8.0           5.0      5.0   18.0
M28                 7.0           9.0      0.0   16.0
M40                13.0           2.0      0.0   15.0
M22                 9.0           6.0      0.0   15.0